{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Add a new article{% endblock %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ asset('bundles/clean-blog/img/post-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{ parent() }}

<article>

    {% if 'article_add' == app.request.get('_route') %}
        {% set submitButton = 'Add'  %}
        {% set title = 'Add a new article' %}
    {% else %}
        {% set submitButton = 'Update'  %}
        {% set title = 'Update the article "' ~ article.title ~ '"' %}
    {% endif %}

    <h1>{{ title }}</h1>

    <div class="container">
        <div class="row">

        {#{{ form(articleForm) }}#}

            {{ form_start(articleForm, {'attr': {'novalidate':'novalidate'}}) }}
        {#{{ form_widget(articleForm) }}#}

        {#{{ form_row(articleForm.title) }}#}
            <div>
                {{ form_label(articleForm.title) }}
                {{ form_widget(articleForm.title) }}
                {{ form_errors(articleForm.title) }}
            </div>

                {{ form_row(articleForm.author) }}
                {{ form_row(articleForm.headerImage) }}

                {% if 'article_update' == app.request.get('_route') %}
                    Old image: <img src="{{ oldArticleImage }}" width="200" />
                {% endif %}
                {{ form_row(articleForm.content) }}

                <input class="btn btn-success pull-right" type="submit" value="{{ submitButton }}" />
            {{ form_end(articleForm) }}
        </div>
    </div>
</article>

{% endblock %}
