{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - An article{% endblock %}

{% block body %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ asset('bundles/clean-blog/img/post-bg.jpg') }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ article.title|title }}</h1>
                    <span class="meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.createdAt|date('l jS \\of F Y') }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

    {{ parent() }}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ article.content|purify }}
            </div>
        </div>
    </div>
</article>
{% endblock %}
